playwright
openpyxl
Repository Link: https://github.com/PradeepaDinshika/IT23272736-ITPM.git
py test_automation.py --excel "C:\Users\mepra\Desktop\IT23272736-ITPM\Assignment 1 - Test cases.xlsx" --url "https://www.pixelssuite.com/chat-translator" --wait-ms 5000 --type-delay-ms 80 --slow-mo-ms 200 --save-every 1 --keep-open